/* root */
:root {
    --color-primary : #00197E;
    --color-secondary : #FFC702;
    --color-sky-blue : #2F6EFF;
    --color-para-blue : #0A2A99;
}

/* header part css */
p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
ol, ul {
    padding-left: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2{
    font-size: 44px;
    font-family: "inter" sans-serif;
    font-weight: bold;
}
h5{
    font-family: "inter" sans-serif;
    font-size: 16px;
    font-weight: 500;
}
h3{
    font-size: 24px;
    font-family: "inter" sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
}
header{
    background-color: var(--color-sky-blue);
    color: white;
}

header h5 {
    font-family: "Poppins", sans-serif;
}
.facbook-icon {
    padding: 25px 6px;
    background-color: #1773EA;
}
.twitter-icon {
    padding: 25px 6px;
    background-color: #2CA5DA;
}
.linkedin-icon {
    padding: 25px 6px;
    background-color: #0073B1;
}
.pinterest-icon {
    padding: 25px 6px;
    background-color: #E11A21;
}
.header-contact{
    gap: 40px;
    font-size: 15px;
}
/* Navbar part css */
nav{
    font-family: "Poppins", sans-serif;
}
.btn-warning{
    background-color: var(--color-secondary);
    padding: 15px 30px;
    border-radius: 50px;
    color: var(--color-primary) !important;
    font-size: 15px;
    font-weight: 500;
}

.navbar-expand-lg .navbar-collapse {
    gap: 28px;
}
.nav-link {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 500;
}
.fa-magnifying-glass{
    color: var(--color-primary);
}

/* banner-part css */
#Banner-Part{
    background-image: url("../images/bannerBG.png");
    color: white;
    padding: 80px 0px;
    position: relative;
}
#Banner-Part img{
    width: 100%;
}

.banner-content h5{
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.banner-content h1{
    font-size: 65px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    padding: 24px 0px;
}
.banner-content h1 span{ 
     color: var(--color-secondary);
}
.banner-content p{ 
    width: 533px;
    padding-bottom: 24px;
}

/* cleany item part css */

#cleaning-part {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
}
.cleanly-item{
    display: flex;
    gap: 28px;
    color: var(--color-primary);
    align-items: center;
    background-color: #F3F4F8;
    padding: 32px 36px;
}
.cleanly-item h3{
   font-size: 22px;
   font-weight: 600;
   font-family: "inter" sans-serif;
}
.cleanly-item p{
   font-size: 15px;
}

/* About us part css */
#About-us{
    padding: 220px 0px 120px 0px;
}

.about-content{
    font-family: "inter" sans-serif;
    width: 592px;
}
.about-content .btn-warning{
    background-color: var(--color-sky-blue);
    border-color: var(--color-sky-blue);
    color: white !important;
    margin-top: 36px;
}
.about-content h5{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-sky-blue);
}

.about-content h2{
    color: var(--color-primary);
}

.about-content p{
    color: #0073B1;
    padding: 12px 0px;
}

.about-content ul{
    color: #0073B1;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px 0px;
}

.about-content li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-content ul i{
    color: var(--color-sky-blue); 
}


/* Our services part */
#our-services{
    background-image: url("../images/servicesBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 112px 0px;
}

.appoinment{
    padding-bottom: 112px;
}
.appoinment h2{
    color: white;
    text-align: center;
    padding-bottom: 52px;
}
.appoinment input{
    width: 299px;
    height: 60px;
    padding: 10px;
}
.appoinment .btn-warning{
    padding: 18px 69px;
    border-radius: 4px;
}

#our-services .sec-head{
    text-align: center;
}
#our-services .sec-head h5{
    color: var(--color-secondary);
}
#our-services .sec-head h2{
    color: white;
}

.services{
    position: relative;
    margin-top: 60px;
}
.service-content{
    width: 373px;
    background-color: #0A2A99;
    padding: 64px 32px 24px 32px;
    color: white;
}
.service-content img {
    position: absolute;
    bottom: 177px;
    left: 32px;
}
.service-content ul{
    color: #B8B9D5;
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
}
.service-content ul li{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "popins" sans-serif;
}
.service-content ul i{
    color: var(--color-secondary);
}
.service-content a{
    color: white ;
    font-family: "inter" sans-serif ;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.services-dots{
    margin-top: 56px;
    color: #316FFF;

}
.services-dots i:first-child{
    color: var(--color-secondary);
}

/* Working-process part css */

#Working-process{
    padding: 112px 0px 104px 0px;
    position: relative;
}
.work-shape3{
    position: absolute;
    top: 141px;
    left: 0;
}
.work-shape4 {
    position: absolute;
    top: -50px;
    right: 95px;
    z-index: -1;
}
#Working-process .sec-head{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: 60px;
}
#Working-process .sec-head h5{
    color: var(--color-sky-blue);
}
#Working-process .sec-head h2{
    color: var(--color-primary);
    padding: 12px 0px;
}
#Working-process .sec-head p{
    color: var(--color-primary);
}
.work-process-content  {
   text-align: center;
   width: 400px;
   position: relative;
}
.work-shape {
    position: absolute;
    top: 17%;
    left: 68%;
}
.work-process-content .icon {
    height: 112px;
    width: 112px;
    box-shadow: 0px 30px 50px #98b2f075 ;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
.work-process-content .icon span {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: absolute;
    top: 45%;
    right: -12px;
}

.work-process-content h3 {
    color: var(--color-primary);
    padding: 35px 0px 40px 0px;
    position: relative;
}
.work-process-content h3::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 185px;
    width: 28px;
    height: 2px;
    background-color: var(--color-sky-blue);
}

.work-process-content p {
   color: var(--color-para-blue);
   width: 294px;
   margin: auto;
}

/* cleeny-portfolio */
#cleeny-portfolio {
    padding: 112px 0px;
}
#cleeny-portfolio .sec-head{
    width: 484px;
}
#cleeny-portfolio .sec-head h5{
    color: var(--color-sky-blue);
}
#cleeny-portfolio .sec-head h2{
    color: var(--color-primary);
}

.cleany-items {
    width: 615px;
}
.cleany-items .thumb h6{
    background-color: var(--color-secondary);
    padding: 8px 22px;
    border-radius: 50px;
    width: 108px;
}

.cleany-items-content {
    width: 563px;
    background-color: var(--color-sky-blue);
    padding: 28px 21px 32px 30px;
    color: white;
    border-bottom: 4px solid var(--color-secondary);
    border-radius: 6px;
}

.arrow-icon{
    width: 39px;
    height: 39px;
    background-color: var(--color-secondary);
    border-radius: 50%;
}