/* root */
:root {
    --color-primary : #00197E;
    --color-secondary : #FFC702;
    --color-sky-blue : #2F6EFF;
    --color-para-blue : #0A2A99;
}

/* header part css */
p{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
ol, ul {
    padding-left: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h2{
    font-size: 44px;
    font-family: "inter" sans-serif;
    font-weight: bold;
}
h5{
    font-family: "inter" sans-serif;
    font-size: 16px;
    font-weight: 500;
}
h3{
    font-size: 24px;
    font-family: "inter" sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
}
header{
    background-color: var(--color-sky-blue);
    color: white;
}

header h5 {
    font-family: "Poppins", sans-serif;
}
.facbook-icon {
    padding: 25px 6px;
    background-color: #1773EA;
}
.twitter-icon {
    padding: 25px 6px;
    background-color: #2CA5DA;
}
.linkedin-icon {
    padding: 25px 6px;
    background-color: #0073B1;
}
.pinterest-icon {
    padding: 25px 6px;
    background-color: #E11A21;
}
.header-contact{
    gap: 40px;
    font-size: 15px;
}
/* Navbar part css */
nav{
    font-family: "Poppins", sans-serif;
}
.btn-warning{
    background-color: var(--color-secondary);
    padding: 15px 30px;
    border-radius: 50px;
    color: var(--color-primary) !important;
    font-size: 15px;
    font-weight: 500;
}

.navbar-expand-lg .navbar-collapse {
    gap: 28px;
}
.nav-link {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 500;
}
.fa-magnifying-glass{
    color: var(--color-primary);
}

/* banner-part css */
#Banner-Part{
    background-image: url("../images/bannerBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px 0px;
    position: relative;
}
#Banner-Part img{
    width: 100%;
}

.banner-content h5{
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.banner-content h1{
    font-size: 65px;
    font-weight: 800;
    font-family: "Inter", sans-serif;
    padding: 24px 0px;
}
.banner-content h1 span{ 
     color: var(--color-secondary);
}
.banner-content p{ 
    width: 533px;
    padding-bottom: 24px;
}

/* cleany item part css */

#cleaning-part {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
}
.cleanly-item{
    display: flex;
    gap: 28px;
    color: var(--color-primary);
    align-items: center;
    background-color: #F3F4F8;
    padding: 32px 36px;
}
.cleanly-item h3{
   font-size: 22px;
   font-weight: 600;
   font-family: "inter" sans-serif;
}
.cleanly-item p{
   font-size: 15px;
}

/* About us part css */
#About-us{
    padding: 220px 0px 120px 0px;
}
#About-us img{
   width: 100%;
}

.about-content{
    font-family: "inter" sans-serif;
    width: 592px;
}
.about-content .btn-warning{
    background-color: var(--color-sky-blue);
    border-color: var(--color-sky-blue);
    color: white !important;
    margin-top: 36px;
}
.about-content h5{
    font-size: 16px;
    font-weight: 500;
    color: var(--color-sky-blue);
}

.about-content h2{
    color: var(--color-primary);
}

.about-content p{
    color: #0073B1;
    padding: 12px 0px;
}

.about-content ul{
    color: #0073B1;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 14px 0px;
}

.about-content li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-content ul i{
    color: var(--color-sky-blue); 
}


/* Our services part */
#our-services{
    background-image: url("../images/servicesBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 112px 0px;
}

.appoinment{
    padding-bottom: 112px;
}
.appoinment h2{
    color: white;
    text-align: center;
    padding-bottom: 52px;
}
.appoinment input{
    width: 299px;
    height: 60px;
    padding: 10px;
}
.appoinment .btn-warning{
    padding: 18px 69px;
    border-radius: 4px;
}

#our-services .sec-head{
    text-align: center;
}
#our-services .sec-head h5{
    color: var(--color-secondary);
}
#our-services .sec-head h2{
    color: white;
}

.services{
    position: relative;
    width: 406px;
    margin-top: 60px;
}
.service-content{
    width: 373px;
    background-color: #0A2A99;
    padding: 64px 32px 24px 32px;
    color: white;
}
.service-content img {
    position: absolute;
    bottom: 177px;
    left: 32px;
}
.service-content ul{
    color: #B8B9D5;
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
}
.service-content ul li{
    display: flex;
    gap: 8px;
    align-items: center;
    font-family: "popins" sans-serif;
}
.service-content ul i{
    color: var(--color-secondary);
}
.service-content a{
    color: white ;
    font-family: "inter" sans-serif ;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.services-dots{
    margin-top: 56px;
    color: #316FFF;

}
.services-dots i:first-child{
    color: var(--color-secondary);
}

/* Working-process part css */

#Working-process{
    padding: 112px 0px 104px 0px;
    position: relative;
}
.work-shape3{
    position: absolute;
    top: 141px;
    left: 0;
}
.work-shape4 {
    position: absolute;
    top: -50px;
    right: 95px;
    z-index: -1;
}
#Working-process .sec-head{
    text-align: center;
    width: 600px;
    margin: auto;
    margin-bottom: 60px;
}
#Working-process .sec-head h5{
    color: var(--color-sky-blue);
}
#Working-process .sec-head h2{
    color: var(--color-primary);
    padding: 12px 0px;
}
#Working-process .sec-head p{
    color: var(--color-primary);
}
.work-process-content  {
   text-align: center;
   width: 400px;
   position: relative;
}
.work-shape {
    position: absolute;
    top: 17%;
    left: 68%;
}
.work-process-content .icon {
    height: 112px;
    width: 112px;
    box-shadow: 0px 30px 50px #98b2f075 ;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
.work-process-content .icon span {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: absolute;
    top: 45%;
    right: -12px;
}

.work-process-content h3 {
    color: var(--color-primary);
    padding: 35px 0px 40px 0px;
    position: relative;
}
.work-process-content h3::after {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 185px;
    width: 28px;
    height: 2px;
    background-color: var(--color-sky-blue);
}

.work-process-content p {
   color: var(--color-para-blue);
   width: 294px;
   margin: auto;
}

/* cleeny-portfolio */
#cleeny-portfolio {
    padding: 112px 0px;
}
#cleeny-portfolio .sec-head{
    width: 484px;
}
#cleeny-portfolio .sec-head h5{
    color: var(--color-sky-blue);
}
#cleeny-portfolio .sec-head h2{
    color: var(--color-primary);
}

.cleany-items {
    width: 615px;
    position: relative;
}
.cleany-items .thumb h6{
    background-color: var(--color-secondary);
    padding: 8px 22px;
    border-radius: 50px;
    width: 108px;
}

.cleany-items-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 563px;
    background-color: var(--color-sky-blue);
    padding: 28px 21px 32px 30px;
    color: white;
    border-bottom: 4px solid var(--color-secondary);
    border-radius: 6px;
    visibility: hidden;
    transition: 0.3s linear;
}

.arrow-icon{
    width: 39px;
    height: 39px;
    background-color: var(--color-secondary);
    border-radius: 50%;
}
.thumb{
    position: absolute;
    top: 24px;
    left: 25px;
    visibility: hidden;
    transition: 0.3s linear;
}
.cleany-items:hover .cleany-items-content{
    visibility: visible;
}
.cleany-items:hover .thumb{
    visibility: visible;
}

#carouselExampleIndicators {
    margin-top: 60px;
}

.carousel-indicators [data-bs-target] {
   
    background-color: #316FFF;
   
}
.carousel-indicators {
    bottom: -100px;
}

/* pricing part css */

#pricing-plan{
    padding: 112px 0px;
}

.EX-service {
    background-image: url('../images/ExSerivce.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 64px 60px 64px;
    height: 280px;
}
.EX-service h2{
    width: 562px;
    color: white;
}

.pricing-plan{
    padding: 112px 0px;
}

#pricing-plan .sec-head {
    padding-top: 112px;
    text-align: center;
    padding-bottom: 80px;
}
#pricing-plan .sec-head h2{
    color: var(--color-primary);
}
#pricing-plan .sec-head h5{
    color: var(--color-sky-blue);
}

.monthly-plan{
    width: 380px;
    background-color: #F3F4F8;
    padding-top: 132px;
    padding-bottom: 40px;
    position: relative;
}
.monthly-plan h3{
    font-size: 22px;
    color: var(--color-primary);
    background-color: white;
    padding: 8px  40px 8px 32px;
    display: inline-block;
    border-left: 3px solid var(--color-sky-blue);
    border-radius: 0px 50px 50px 0px;
}
.monthly-plan ul{
    padding: 32px 0px;
}
.monthly-plan ul li  {
    color: var(--color-primary);
    font-size: 15px;
    padding-left: 30px;
    padding-top: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.monthly-plan ul li i  {
    color: var(--color-sky-blue);
    font-size: 15px;
}
.monthly-plan .btn  {
   background-color: var(--color-sky-blue) !important;
   color: white !important;
   border: none !important;
   margin-left: 30px !important;
}

.monthly-price{
    height: 120px;
    width: 120px;
    background-color: var(--color-sky-blue);
    padding: 16px 23px;
    border-radius: 0px 12px 12px 12px;
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.monthly-price h4{
    font-size: 16px;
}
.monthly-price h2{
    font-size: 42px;
}
.monthly-price h2 span{
    font-size: 20px;
}

/* testimonial part css */

#Testimonial-part{
    background-image: url("../images/Testimonial.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 112px 0px;

}

#Testimonial-part .sec-head{
    text-align: center;
    color: white;

}


#Testimonial-part .sec-head h5{
    color: var(--color-secondary);

}

.review{
    background-color: var(--color-para-blue);
    padding: 50px 40px;
    border-radius: 12px;
    margin-top: 40px
    
}
.review h3{
    color: var(--color-secondary);
    font-size: 18px;
    padding: 28px 0px 20px 0px;
}
.reviewProfile h3{
    color: white;
    font-size: 20px;
    padding: 12px 0px 7px 0px;
}
.reviewProfile h5{
    color: #788AC6;
}
.review p{
    color: white;
}

/* latest-blog part css */

#latest-blog{
   padding-top: 112px;
}
#latest-blog .row{
   margin-top: 60px;
}
#latest-blog .sec-head h5{
   color: #2F6EFF;
}
#latest-blog .sec-head h2{
   color: var(--color-primary);
   width: 640px;
}

.blogs-text{
    padding: 28px;
    background-color: #F3F4F8;
}
.blogs-text h3{
    font-size: 22px;
    color: var(--color-primary);
}
.blogs-text p{
    color: var(--color-para-blue);
    padding: 12px 0px;
    line-height: 24px;
}
.blogs-text a{
    color: var(--color-para-blue);

}
.blog-thumb{
    background-color: var(--color-secondary);
    padding: 10px 20px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.brands{
    background-color: #F3F4F8;
    padding: 95px 0px 76px 0px;
    margin-top: 112px;
}
footer{
    background-image: url("../images/FooterBg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-top{
    background-image: url("../images/footerTop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 24px 24px;
}
.footer-top-left{
    padding: 30px 0px 30px 40px;
    color: var(--color-primary);
}
.footer-top-left h4{
    font-size: 15px;
}
.footer-top-left h3{
    font-size: 22px;
    font-weight: 600;
}
.footer-top-right{
    padding: 38px  40px;
   
}
.footer-top-right h3{
    font-size: 28px;
    color: white;
    font-weight: 600;
}
.footer-top-right .input-group{
   width: 394px;

}
.footer-top-right .input-group .input-group-text{
   background-color: var(--color-primary);
   color: white;
   padding: 16px 22px;

}
.footer-center{
    color: white;
    padding-top: 130px;
}
.footer-center .social-icons i {
    border: 1px solid white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.footer-center .social-icons  {
    display: flex;
    gap: 12px;
}
.footer-center p{
    padding: 28px 0px;
    line-height: 28px;
    font-size: 16px;
}
.footer-center ul li{
    display: flex;
    gap: 8px;
    align-items: center;
}
.footer-center ul{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-center h4{
    font-size: 18px;
}
.latest-blog ul  {
    padding-top: 8px;
}
.latest-blog ul li {
    color: #808CBF;
    font-size: 14px;
}
.latest-blog-contact i{
    height: 44px;
    width: 44px;
    padding: 11px;
    font-size: 20px;
    border: 1px dashed white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43559f9d;
}
.footer-bottom{
    margin-top: 96px;
    border-top: 1px solid #334899;
}
.footer-bottom p{
    font-size: 16px;
    padding: 28px 0px;
    color: white;
    text-align: center;
}